* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.item {
  font-size: 30px;
  padding: 50px;
}
.grid__container {
  background: brown;
  color: white;
  padding: 45px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  width: 80%;
  margin: 0 auto;
}
.header {
  background: red;
  grid-column: 1/-1;
}
.small-box-1 {
  background: orange;
}
.small-box-2 {
  background: yellow;
}
.small-box-3 {
  background: green;
}
.sidebar {
  background: blue;
  grid-row: 2/span 5;
  grid-column-start: 4;
  grid-column-end: 5;
}
.main-content {
  background: indigo;
  grid-row: 3 / 7;
  grid-column: 1/-2;
}
.footer {
  background: violet;
  grid-column: 1/-1;
}
